{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}



    <div class = "container main_page">
        <div class="row">

            <h2 class="medium-styled-text">What's the Pitch?</h2>


            <div class="jumbotron my_tron">
                <div>
                    <a href="{{url_for('main.new_pitch')}}">
                        <h3>Write Your New Pitch Here...</h3></a>

                        </div>
                </div>
            </div>
        </div>
        </div>
    </hr>
    <div class="well">
        <div class="all-pitches">
                <div class="dropdown">
                        <button class="dropbtn"> Categories</button>

                        <div class="dropdown-content">
                                <a href="{{url_for('main.Motivational')}}" class="categories">
                                        <br>
                                        <h2>Motivational Pitches</h2>
                                    </a>
                              
                                <a href="{{url_for('main.Business')}}" class="categories">
                                        <br>
                                        <h2>Business Pitches</h2>
                                    </a>

                                <a href="{{url_for('main.Technology')}}" class="categories">
                                        <br>
                                        <h2>Technology Pitches</h2>
                                    </a>

                        </div>
                        </div>

                <hr>
                <div class="center">
                    <h2>LATEST PITCHES</h2>
                    <div class="well">
                {{macro.displayPitches(pitches)}}
                </div>
                </div>

        </div>
        </div>

    </div>


{% endblock %}